
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name{
    color: orange;
}
.flex{
    display: flex;

}


.half-width{
    width: 50%;
    padding-left: 10% ;
}
.half-width img{
    width: 70%;
    padding-top: 10px;
}
.link-button{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-image:linear-gradient(orange , salmon)
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}
.bottom{
    padding-right: 150px ;
}
.bottom-banner{
    background-image:url(images/dream-bg.png) ;
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left:50px;
    padding-right:30px ;
    box-shadow: 10px 10px 60px gray;
    border-radius: 15px;
    
    
}
.experience-banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left 150px;
}
#ex1{
    border-left: solid 7px blue;
}
#ex2{
    border-left: solid 7px tomato;
}
footer{
    text-align: center;
}
section{
    margin-bottom: 50px;
}