
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name{
    color: orange;
}
section{
    display: flex;

}
.half-width{
    width: 50%;
    padding-left: 10% ;
}
.half-width img{
    width: 70%;
    padding-top: 10px;
}
.link-button{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-image:linear-gradient(orange , salmon)
    
}
#top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}
.bottom{
    padding-right: 150px ;
}
#bottom-banner{
    background-image:url(images/dream-bg.png) ;
    background-repeat: no-repeat;
    background-position: right;
}